{% extends "layout.html" %}
{% block body %}
  <header id="site-header" class="site-header valign-center"> 
        <div class="intro">

            <h3>Looking for a place to host a conference?</h3>  
            <br> 
            <a class="btn btn-white" id="book-btn" href="\bkhall">BOOK NOW</a>
     		<br><br><br><br>
 			
 			<h3>Have a conference room to be advertised?</h3>  
            <br> 
     		<a class="btn btn-white" id="reghall-btn" href="\rghall">Register your conference room</a>
     		<br>
     		<br>
     		<h3>Manage your registered room</h3>
     		<a class="btn btn-white" id="mg-btn" href="\mgHall">Manage</a>
        
        </div>
    </header>

{% endblock %}